body {
	font-family: Arial, serif;
	-webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: #eff7de;
}
th, td {
  width: 200px;
  text-align: center;
}

table, th, td {
	border: 1px solid #BFBFBF;
	border-collapse: collapse;
	padding: 0 4px 0 4px;
}
