<html>
    <head>
        <title>success</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body>
        <table>
            <thead>
                <th>ID</th>
                <th>Password</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Password}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
